@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.aling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.alingimg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alingimg img {
  margin: 10px;
  padding: 10px;
  width: 70%;
  margin-top: 50px;
  margin-left: 100px;
}

.aling {
  height: 100vh;
}

.forms {
  background: var(--dark-dark-700, #001119);
  padding: 32px;
  width: calc(100% - 10px);
  max-width: 400px;
  height: 500px;
  border-radius: 10px;
  margin-right: 20px;
}

.texformats {
  font-family: 'Alata', sans-serif;
  font-size: 24px;
  text-align: center;
  color: var(--light-light-100, #FFF);
}

.faixa {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 39px;
}

.btnfaixa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inpfaixa {
  padding: 12px 14px;
  margin-top: 10px;
  width: 92%;
  border: none;
  background-color: #0d1d25;
  color: #7c7c8a;
  border-radius: 3px;
}

.btnfaixa button {
  width: 100%;
  height: auto;
  border: none;
  margin-top: 20px;
  padding: 12px 32px;
  border-radius: 5px;
  background-color: #750310;
  text-decoration: none;
  color: #fff;
  font-family: 'Alata', sans-serif;
  font-weight: bolder;
  font-size: 14px;
}

.texfaixa {
  color: #fff;
}

.alingtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alingtext a {
  margin-top: 10px;
  color: #ffffff;
  transition: all 1s;
  text-decoration: none;
}

.alingtext p:hover {
  color: #ff0522;
  transition: all 1s;
}

@media screen and (max-width: 880px) {
  .aling {
    flex-direction: column;
  }

  .alingimg img {
    margin-left: 0;
    width: 100%;
  }

  .forms {
    margin-right: 0;
    margin-top: 20px;
  }
}
