@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
  padding: 0;
  margin: 0;
  border: none;
}

nav{
  background: #00111A;
  position: fixed;
  width:100%;
  padding: 10px;
}

.alingcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.alingcontainer img{
  width: 180px;
  padding: 10px;
  margin: 5px;

}

.alingcontainer input {
  padding: 12px 14px;
  border-radius: 3px;
  margin-top: 2px;
  width: 500px; /* Largura inicial */
  background: #0D1D25;
  color: #fff;
}




.alingcontainer button{
  width: 150px;
  height: 40px;
  border-radius: 3px;
  margin-top: 5px;
  padding: 12px;
  text-align: center;
  margin: 5px;
  background: #750310;
  color: #fff;
  
}

.inpicon{
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.inpicon img{
  margin-top: -10px;
}

.inpicon img{
  width: 20px;
  
}

.imgclick img{
  width: 38px;
}

.containeraling{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}

.container{
  background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
  border-radius: 5px;
  width: 70vw;
  height: 30vh;
  margin-top: 200px;
  
}

.contcontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.contcontainer img{
  width: 400px;
  margin-top: -60px;
}

.contcontainer h2{
  font-size:40px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
 
}

.contcontainer p{
  font-size: 16fpx;
  font-family: 'Roboto', sans-serif;
  color: #fff;

 
}



@media screen and (max-width: 1119px) {
  .alingcontainer {
    flex-direction: column; 
    text-align: center; 
  }

  .alingcontainer input {
    width: 100%; 
  }

  .container{
    background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
    width: 100%;
    height: 30vh;
    margin-top: 400px;
    padding: 10px;
  }

  .contcontainer img{
    width: 45%;
    margin-top: -65px;
  }
  
}



@media screen and (max-width: 1300px) {
  nav {
      max-width: auto;
  }
}