@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
  padding: 0;
  margin: 0;
  border: none;
}

nav{
  background: #00111A;
  position: absolute;
  width:100%;
  padding: 10px;
}

footer{
  width: 100%;
  background: #00111A;
  position: absolute;
  padding: 2px;
}
.alingcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.alingcontainer img{
  width: 180px;
  padding: 10px;
  margin: 5px;

}

.alingcontainer input {
  padding: 12px 14px;
  border-radius: 3px;
  margin-top: 2px;
  width: 500px; /* Largura inicial */
  background: #0D1D25;
  color: #fff;
}




.alingcontainer button{
  width: 150px;
  height: 40px;
  border-radius: 3px;
  margin-top: 5px;
  padding: 12px;
  text-align: center;
  margin: 5px;
  background: #750310;
  color: #fff;
  
}

.inpicon{
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.inpicon img{
  margin-top: -10px;
}

.inpicon img{
  width: 20px;
  
}

.imgclick img{
  width: 38px;
}

.containeraling{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}

.container{
  background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
  border-radius: 5px;
  width: 70vw;
  height: 30vh;
  margin-top: 200px;
  
}

.contcontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.contcontainer img{
  width: 400px;
  margin-top: -60px;
}

.contcontainer h2{
  font-size:40px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
 
}

.contcontainer p{
  font-size: 16fpx;
  font-family: 'Roboto', sans-serif;
  color: #fff; 
}

.alingfooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.alingfooter h3{
  color: #fff;
  font-family: Roboto;
}

/* cards */

.alingcards{
  width: 90%; 
}

.cardsaling{
  margin-left:150px;
}

.cardsaling h2{
 color: #fff;
 padding: 10px;
 font-family: Poppins
}

.formcards{
  padding: 10px;
  margin: 24px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 462px;
  background: var(--dark-dark-200, #00070A);
  border-radius: 5px;
  border: 1px solid var(--dark-dark-300, #000204);
}

.formcards img{
  width:160px;
  margin-bottom: 3px;
}

.formcards h3{
  text-align: center;
  color: #fff;
  font-family: Poppins;
  margin-bottom: 14px;
}

.formcards h2{
color: var(--tints-cake-200, #82F3FF);
text-align: center;
font-family: Roboto;
margin-bottom: 40px;
}


.formcards p{
  text-align: center;
  color: #fff;
  font-family: Poppins;
  margin-bottom: 30px;
}

/* coração-button */


.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 30px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 230px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;

}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

/* responsividade */

@media screen and (max-width: 1119px) {
  .alingcontainer {
    flex-direction: column; 
    text-align: center; 
  }

  .alingcontainer input {
    width: 100%; 
  }

  .container{
    background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
    width: 100%;
    height: 30vh;
    margin-top: 400px;
    padding: 10px;
  }

  .contcontainer img{
    width: 45%;
    margin-top: -40px;
  }
  
}



@media screen and (max-width: 1300px) {
  nav {
      max-width: auto;
  }
}