@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.alings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px; /* Adjusted for smaller screens */
}

.alingimga img {
  margin: 10px;
  padding: 10px;
  width: 70%;
  margin-top: 50px;
  margin-left: 100px;
}

.alings {
  height: 100vh;
}

.form {
  background: var(--dark-dark-700, #001119);
  padding: 32px;
  width: calc(100% - 10px);
  max-width: 400px;
  height: 480px;
  border-radius: 10px;
  margin-right: 20px;
}

.texformatst {
  font-family: 'Alata', sans-serif;
  font-size: 24px; /* Adjusted for smaller screens */
  text-align: center;
  color: var(--light-light-100, #FFF);
}

.faixas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top:45px;
}

.btnfaixas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inpfaixas {
  padding: 12px 14px;
  margin-top: 10px;
  width: 92%;
  border: none;
  background-color: #0D1D25;
  color: #7C7C8A;
  border-radius: 3px;
  border: 2px solid;
}

.btnfaixas button {
  width: 100%;
  height: auto;
  border: none;
  margin-top: 20px;
  padding: 12px 32px;
  border-radius: 5px;
  background-color: #750310;
  color: #fff;
  font-family: 'Alata', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  font-size: 14px;
}

.texfaixas {
  color: #FFF;
}

.alingtextst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alingtextst p {
  margin-top: 10px;
  color: #FFF;
}

.alingtextst a {
  text-decoration: none;
}

.alingtextst p:hover {
  color: #ff0522;
  transition: all 1s;
}

@media screen and (max-width: 880px) {
  .alings {
    flex-direction: column;
  }

  .alingimga img {
    margin-left: 0;
    width: 100%;
  }

  .form {
    margin-right: 0;
  }

  .texformatst {
    font-size: 20px;
  }
}
