*{
    padding: 0;
    margin: 0;
    border: none;
}

nav{
    background: #00111A;
    position: absolute;
    width:100%;
    padding: 10px;
}

.alingcontaineradm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.alingcontaineradm img{
    width: 180px;
    padding: 10px;
    margin: 5px;

}

.alingcontaineradm input {
    padding: 12px 14px;
    border-radius: 3px;
    margin-top: 2px;
    width: 500px; /* Largura inicial */
    background: #0D1D25;
    color: #fff;
}




.alingcontaineradm button{
    width: 150px;
    height: 40px;
    border-radius: 3px;
    margin-top: 5px;
    padding: 12px;
    text-align: center;
    margin: 5px;
    background: #750310;
    color: #fff;
    
}

.inpiconadm{
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

.inpiconadm img{
    margin-top: -10px;
}

.inpiconadm img{
    width: 20px;
    
}

.imgclickadm img{
    width: 38px;
}

.containeralingadm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
  }
  
  .containeradm{
    background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
    border-radius: 5px;
    width: 70vw;
    height: 30vh;
    margin-top: 200px;
    
  }
  
  .contcontaineradm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  
  .contcontaineradm img{
    width: 400px;
    margin-top: -60px;
  }
  
  .contcontaineradm h2{
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
   
  }
  
  .contcontaineradm p{
    font-size: 16fpx;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  
   
  }
  
 /* cards */

 .alingcardsadm{
  width: 90%; 
}

.cardsalingadm{
  margin-left:150px;
}

.cardsalingadm h2{
 color: #fff;
 padding: 10px;
 font-family: Poppins
}

.formcardsadm{
  padding: 10px;
  margin: 24px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: 462px;
  background: var(--dark-dark-200, #00070A);
  border-radius: 5px;
  border: 1px solid var(--dark-dark-300, #000204);
}

.formcardsadm img{
  width:160px;
  margin-bottom: 3px;
}

.formcardsadm h3{
  text-align: center;
  color: #fff;
  font-family: Poppins;
  margin-bottom: 14px;
}

.formcardsadm h2{
color: var(--tints-cake-200, #82F3FF);
text-align: center;
font-family: Roboto;
margin-bottom: 40px;
}


.formcardsadm p{
  text-align: center;
  color: #fff;
  font-family: Poppins;
  margin-bottom: 30px;
}

/* coração-button */


.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 30px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: 230px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;

}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}


@media screen and (max-width: 1119px) {
    .alingcontaineradm {
      flex-direction: column; 
      text-align: center; 
    }
  
    .alingcontaineradm input {
      width: 100%; 
    }

    .containeradm{
        background:  linear-gradient(180deg, #091E26 0%, #00131C 100%);
        width: 100%;
        height: 30vh;
        margin-top: 400px;
        padding: 10px;
      }
    
      .contcontaineradm img{
        width: 45%;
        margin-top: -65px;
      }
      
  }
  
  @media screen and (max-width: 1300px) {
    nav {
        max-width: auto;
    }
}
